/* html {
  font-family: comic sans MS;
  background-color: wheat;
  color: darkblue;
  border: 2px dashed teal;
}

h1 {
  font-family: fantasy;
  font-weight: bolder;
  text-decoration: underline;
  color: orange;
} */
